width__mobile = 480px
width__mobile_more = width__mobile + 1px
width__tablet = 1.5 * width__mobile
width__tablet_more = width__tablet + 1px
width__desktop = 2 * width__mobile
width__wide_more = 3 * width__mobile
width__wide_more = width__wide_more + 1px

fontBase = 16px

font-size__xs = .67rem
font-size__sm = .83rem
font-size__md = 1rem
font-size__lg = 1.17rem
font-size__xl = 1.5rem
font-size__sl = 2rem

font__famaly = -apple-system, Roboto, 'Helvetica Neue', Arial, sans-serif

gutter = gutter* 1px

mobileStepper = 1000
speedDial = 1050
appBar = 1100
drawer = 1200
modal = 1300
snackbar = 1400
tooltip = 1500
